/*750px*1334px设计稿*/
*{ margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; font-family: "微软雅黑";}
a{ text-decoration: none;}
html{ font-size: 40px;}
html,body{ height:100%;}
@media only screen and (min-width:240px){
    html{ font-size:12px;}
}
@media only screen and (min-width:320px){
    html{ font-size:16px;}
}
@media only screen and (min-width:380px){
    html{ font-size:18px;}
}
@media only screen and (min-width:420px){
    html{ font-size:20px;}
}
@media only screen and (min-width:450px){
    html{ font-size:24px;}
}
@media only screen and (min-width:480px){
    html{ font-size:28px;}
}
@media only screen and (min-width:560px){
    html{ font-size:32px;}
}
@media only screen and (min-width:640px){
    html{ font-size:36px;}
}
@media only screen and (min-width:750px){
    html{ font-size:40px;}
}



/*header*/
#header{ width:100%; height:9.3%; display:flex; flex-flow:row; font-family: "SourceHanSansCN";}
#header a{ color:#fff; text-align: center; }
#list{ width:50%; background:#6ab7ff; display:flex;}
.header_txt{ margin:auto;}
#review{ width:50%; background:#406e99; display:flex;}


/*section1*/
#section1{ width:100%; border-bottom: 1px solid #7ecef4;}
#date_wrap{ width:100%; height:5.9%; background:-webkit-linear-gradient(left,#57e1bf,#0084ff); background:-moz-linear-gradient(left,#57e1bf,#0084ff); display:flex; justify-content:flex-end;}
#date{ font-size:0.75rem; color:#fff; padding-right: 2%;}
.list_item{ width:100%; height:14%; display:flex; flex-flow:row; align-items: center; padding:2.15% 4.8% 1.79% 7%;}
.item_img{ width:14.8%; height:9.9%; }
.item_img img{ width:100%; height:100%;}
.item_num{ width:24.4%; font-size:1.5rem; margin-left:4.93%;}
.earn{ color:#35e47f;}
.cost{ color:#ff364e;}
.item_name{ width:41%; font-size:1rem; font-weight: bold; color:#606060;}
.item_next{ width:3%; height:1.52%;}
.item_next img{ width:100%; height:100%;}

/*section2*/
#write_wrap{ width:100%; height:9.3%; background:-webkit-linear-gradient(left,#57e1bf,#0084ff); background:-moz-linear-gradient(left,#57e1bf,#0084ff); display:flex; position: absolute; bottom:0;}
#write{ font-size:1.125rem; color:#fff; margin:auto;}
